<h1 class="pageHeader">
    Login
</h1>
<div id="loginContainerParent">
    <div id="loginContainer">
        <form method="post" action="/session/login">
            <input type="text" name="username" placeholder="Username" required/>
            <input type="password" name="password" placeholder="Password" required/>
            <input type="submit" value="Login"/>
        </form>
    </div>
</div>