<h1 class="pageHeader">
    Register
</h1>
<div id="registerContainerParent">
    <div id="registerContainer">
        <form method="post" action="/session/register">
            <input type="text" name="username" placeholder="Username" required/>
            <input type="password" name="password" placeholder="Password" required/>
            <input id="loginRegisterSubmitBtn" type="submit" value="Create"/>
        </form>
    </div>
</div>