@charset "UTF-8";

body {
    margin: 0;
}

header {
    min-width: 870px;
    width: 100%;
    height: 75px;
    background-color: #3c3c3c;
}

.pageHeader {
    text-align: center;
    margin: 0;
}

#navName {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: -5px;
    color: #c5c5c5;
}

#navList {
    list-style: none;
    height: 75px;
    width: 550px;
    margin-top: 0px;
}

#logoutForm {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

#logoutForm button {
    align-self: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    font-size: 20px;
    background-color: #c5c5c5;
    border-radius: 5px;
    height: 35px;
}

.navListItem {
    display: block;
    float: left;
    height: 75px;
    min-width: 50px;
    padding: 0px 5px 0px 5px;
    margin-left: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    font-size: 1.25rem;
    color: #c5c5c5;
    line-height: 75px;
    text-align: center;
}

.navListItem:hover {
    background-color: #757575;
    cursor: pointer;
}

.navBlocks {
    height: 100%;
    float: left;
    margin-left: 10px;
}

.navBlocksAuth {
    height: 100%;
    float: right;
    margin-right: 20px;
    color: #c5c5c5;
}

#linksAuth {
    width: 400px;
}

.flashMSG {
    width: 600px;
    height: 30px;
    border-radius: 5px;
    margin: 10px auto 0;
    text-align: center;
    padding-top: 15px
}

#flashError {
    background-color: rgb(250, 76, 76);
}

#flashSuccess {
    background-color: rgb(147, 228, 147);
}


body main {
    background-color: #ffffff;
    min-height: calc(100vh - 165px);
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #3c3c3c;
    height: 50px;
    margin-top: 20px;
}

footer p {
    text-align: center;
    color: #ffffff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: 14px;
}

/* Snippets page */

#snippetTableContainer {
    padding-top: 20px;
    padding-bottom: 20px;
}

#snippetTable {
    min-width: 600px;
    border-collapse: collapse;
    margin: 0 auto;
}

#snippetTable thead {
    background-color: #3c3c3c;
    color: #c5c5c5;
}

#snippetTable th, #snippetTable td {
    text-align: center;
    height: 30px;
}

.snippetTr:nth-child(odd){
    background-color: #e0e0e0;
}

.snippetTr:nth-child(even){
    background-color: #ffffff;
}

.snippetTr:hover {
    background-color: #757575;
}

.snippetTr a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 30px;
    color: black;
    text-decoration: none;
}

/* show snippet*/

#showSnippetContainer {
    background-color: #22b5e2;
    min-height: 500px;
    width: 800px;
    margin: 20px auto 20px;
    border-radius: 5px;
}

#showSnippetContainer h1 {
    text-align: center;
}

#showSnippetCodeContainer {
    background-color: #ffffff;
    overflow-x: auto;
    width: 95%;
    min-height: 600px;
    border-radius: 5px;
    margin: 0px auto 10px;
}

#dateData {
    text-align: center;
    background-color: #3c3c3c;
    color: #c5c5c5;
    height: 18px;
    border-radius: 0px 0px 5px 5px;
}

#dateData p {
    margin: 0;
}

#removeDeleteUpdate {
    height: 50px;
    background-color: #3c3c3c;
    border-radius: 5px 5px 0px 0px;
}

/* New snippet page */

#snippetOwnerNav {
    list-style: none;
    height: 100%;
    width: 200px;
    margin: 0px auto 0px;
}

.snippetOwnerNavItem {
    display: block;
    float: left;
    height: 100%;
    min-width: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    line-height: 50px;
    padding: 0px 5px 0px 5px;
    margin-left: 10px;
    color: #c5c5c5;

}

.snippetOwnerNavItem:hover {
    background-color: #757575;
}

/* Snippet form */

#main {
    width: 800px;
    min-height: 600px;
    margin: 20px auto 0;
    background-color: #22b5e2;
    text-align: center;
    border-radius: 5px;
    box-shadow: #777777 0px 20px 40px, #777777 0px 15px 10px;
}

#snippetForm {
    padding-top: 20px;
}

#snippetForm textarea {
    margin-top: 20px;
    width: 95%;
    height: 450px;
    resize: none;
    white-space: nowrap;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid;
}

#snippetForm div input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
}

#snippetForm div label {
    font-weight: bold;
    font-size: 20px;
}

#snippetForm button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

#snippetForm button:hover {
    transform: scale(0.9);
    box-shadow: none;
    cursor: pointer;
}

/* Login page */
#loginContainerParent, #registerContainerParent {
    text-align: center;
    background-color: #22b5e2;
    height: 300px;
    width: 400px;
    margin: 20px auto 0;
    border-radius: 5px;
    box-shadow: #777777 0px 20px 40px, #777777 0px 15px 10px;
}

#loginContainer, #registerContainer {
    display: inline-block;
    height: 125px;
    width: 400px;
    margin: 50px auto 0;
}

#loginContainer form input, #registerContainer form input {
    display: block;
    margin: 10px auto 0;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
}

#loginRegisterSubmitBtn:hover {
    transform: scale(0.90);
    cursor: pointer;
}