<div id="main">
    <h1 class="pageHeader">New Snippet</h1>
    <form id="snippetForm" method="post" action="/crud/snippets/create">
        <!-- validation summary hbs här! -->
        <div class="form-group">
            <label for="name">Snippet Name:</label>
            <input type="text" name="name" value="{{value}}" placeholder="Enter snippet name" maxlength="25" required="required"/>
        </div>
        <textarea rows="4" cols="50" name="snippet" form="snippetForm" required="required"></textarea>
        <br>
        <button type="submit">Create Snippet</button>
    </form>
</div>