<div id="main">
    <h1 class="pageHeader">Remove Snippet: {{viewData.snippetName}}</h1>
    <p>Warning: "<b>{{viewData.snippetName}}</b>" is going to be removed permanently.</p>
    <form id="snippetForm" method="post" action="/crud/snippets/{{viewData.snippetID}}/delete">
        <div class="form-group">
            <label for="confirmBox">Confirm:</label>
            <input type="checkbox" name="confirmBox" required="required">
        </div>
        <br>
        <button type="submit">Remove snippet</button>
    </form>
</div>