<div id="main">
    <h1 class="pageHeader">Remove Snippet: {{viewData.snippetName}}</h1>
    <p>If you want to remove <b>{{viewData.snippetName}}</b> permanently, Check the box bellow and click on "Remove snippet"</p>
    <form id="snippetForm" method="post" action="/crud/snippets/{{viewData.snippetID}}/delete">
        <!-- validation summary hbs här! -->
        <div class="form-group">
            <!--Name: <input type="text" name="name" value="{{viewData.snippet.name}}" placeholder="Enter snippet name" required="required"/>-->
            <label for="confirmBox">Confirm:</label>
            <input type="checkbox" name="confirmBox" required="required">
        </div>
        <br>
        <button type="submit">Remove snippet</button>
    </form>
</div>