<h1 class="pageHeader">
    Update: {{viewData.snippet.name}}
</h1>

<div id="snippetFormContainer">
    <form id="snippetForm" method="post" action="/crud/{{viewData.snippet.id}}/update">
        <!-- validation summary hbs här! -->
        <div class="form-group">
            Name: <input type="text" name="name" value="{{viewData.snippet.name}}" placeholder="Enter snippet name" required="required"/>
        </div>
        <textarea rows="4" cols="50" name="snippet" form="snippetForm" required="required">{{viewData.snippet.snippet}}</textarea>
        <br>
        <button type="submit">Update Snippet</button>
    </form>
</div>