<header>
        <div class="navBlocks" id="navName">
            <h1>Crud Snippets</h1>
        </div>
        <div class="navBlocks" id="links">

        <ul id="navList">
            {{#if viewData.auth}}
                <a href="/"><li class="navListItem">Home</li></a>
                <a href="/crud/snippets"><li class="navListItem">Snippets</li></a>
                <a href="/crud/snippets/new"><li class="navListItem">New Snippet</li></a>
                <li>
                    <form method="post" action="/session/logout">
                        <button>Logout</button>
                    </form> <!-- Fixa css! -->
                </li>
            {{else}}
                <a href="/"><li class="navListItem">Home</li></a>
                <a href="/crud/snippets"><li class="navListItem">Snippets</li></a>
                <a href="/session/login"><li class="navListItem">Login</li></a>
                <a href="/session/register"><li class="navListItem">Register</li></a>
            {{/if}}
            </ul>
        </div>
</header>