<header>
        <div class="navBlocks" id="navName">
            <h1>Crud Snippets</h1>
        </div>
        <div class="navBlocks" id="links">
            <ul id="navList">
                <a href="/"><li class="navListItem">Home</li></a>
                <a href="/snippets"><li class="navListItem">Snippets</li></a>
                <a href="/snippets/new"><li class="navListItem">New Snippet</li></a>
            </ul>
        </div>
</header>