<style>
    #errorContainer {
        text-align: center;
        padding-top: 5vh;
    }
    #main {
        display: inline-block;
        background-color: #f84f5d;
        padding: 20px;
        border-radius: 20px;
    }
</style>
<div id="errorContainer">
    <div id="main">
        <h1>Forbidden (403)</h1>
        <p>You do not have access to this resource.</p>
    </div>
<div>